@model IEnumerable<Cibertec.Models.Cliente>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Documento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Documento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a href="#" onclick="cibertec.getModal('@Url.Action("Update", new { id = item.IdCliente })');
                       return false;" data-toggle="modal" data-target="#modal-container"
                           class="btn btn-warning btn-sm">
                            <span class="glyphicon glyphicon-edit"> Edit </span>
                        </a>

                        <a href="#" onclick="cibertec.getModal('@Url.Action("Delete", new { id = item.IdCliente })');
                       return false;" data-toggle="modal" data-target="#modal-container"
                           class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"> Delete </span>
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>